<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <netgsm_iys>
            <general>
                <enable_logging>0</enable_logging>
            </general>
        </netgsm_iys>
    </default>
</config>