<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="netgsm_iys_sync" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\SyncCommand</item>
                <item name="netgsm_iys_clean_logs" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\CleanLogsCommand</item>
                <item name="netgsm_iys_list_pending" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\ListPendingCommand</item>
            </argument>
        </arguments>
    </type>
</config>