<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="idangerous_iys_sync" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\SyncCommand</item>
                <item name="idangerous_iys_clean_logs" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\CleanLogsCommand</item>
                <item name="idangerous_iys_list_pending" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\ListPendingCommand</item>
                <item name="idangerous_iys_newsletter_sync" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\NewsletterSyncCommand</item>
                <item name="idangerous_iys_import" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\ImportCommand</item>
                <item name="idangerous_iys_customer_sync" xsi:type="object">IDangerous\NetgsmIYS\Console\Command\CustomerSyncCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="IDangerous\NetgsmIYS\Console\Command\NewsletterSyncCommand">
        <arguments>
            <argument name="newsletterSync" xsi:type="object">IDangerous\NetgsmIYS\Cron\NewsletterSync</argument>
        </arguments>
    </type>
</config>
