<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="IDangerous_NetgsmIYS::records"
             title="IYS Records"
             module="IDangerous_NetgsmIYS"
             sortOrder="5"
             parent="IDangerous_Sms::sms"
             action="netgsm_iys/records"
             resource="IDangerous_NetgsmIYS::records"/>
    </menu>
</config>